body {
  margin: 20px;
}
.app {
  /* display: flex; */
  /* flex-direction: column; */
  max-width: 600px;
  margin: 50px auto 0;
}

.letters {
  word-break: break-all;
  color: #555;
  font-weight: bold;
}

input {
  font-size: 16px;
  max-width: 50px;
  border-radius: 3px;
  border: 1px solid #555;
  height: 25px;
}

.form {
  display: flex;
  justify-content: space-evenly;
}